.todo {
  width: 100%;
  padding: 20px 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  column-gap: 24px;
  border-bottom: 1px #e3e4f1 solid;
  transition: 0.2s all linear;

  &--dark {
    background-color: #25273d;
    border-bottom: 1px #393a4b solid;
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__title {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #494c6b;
    transition: 0.2s all linear;
    word-break: break-all;

    &--dark {
      color: #c8cbe7;
    }

    &--completed {
      text-decoration: line-through;
      color: #d1d2da;
    }

    &--dark-completed {
      text-decoration: line-through;
      color: #4d5067;
    }
  }
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.checked {
  width: 25px;
  height: 25px;
}

.circle {
  width: 25px;
  height: 25px;
  border: 1px #e3e4f1 solid;
  border-radius: 50%;
  background: none;
  user-select: none;
}

.delete {
  width: 25px;
  height: 25px;

  & > svg {
    width: 100%;
    height: auto;
  }
}
